@import 'tailwindcss';

@theme { 
    --color-background: #1E1E1E;
    --color-primary: #E6E6E6;
    --color-secondary: #262626;
    --color-text: #D9D9D9;
    --color-hover: #B8B8B8;
    --color-accent: #B0F320;
}

body {
    font-family: 'Noto Sans';
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #B0F320; /* Tailwind purple-500 */
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #1E1E1E; /* Tailwind gray-200 */
}
